@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

code {
  border: 1px solid #ccc;
  background-color: #f2f2f220;
  border-radius: 5px;
  padding: 0.15em 0.25em;
}
